<% cache screening do %>
<tr class="screening-row community-screening-row" data-href=<%= screening.link %>>
  <td data-label="Date" class="screening-date">
    <%= screening.screening_time.strftime('%x') %>
  </td>
  <td data-label="City" class="screening-location">
    <% if screening.country == "" %>
      <%= "#{screening.city}, #{screening.state}" %>
    <% else %>
      <%= "#{screening.city}, #{screening.state}, #{screening.country}" %>
    <% end %>

  </td>
  <td data-label="Location" class="screening-name">
    <%= screening.venue_name %>,
    <%= screening.street_address %>
    at
    <%= a = screening.screening_time.strftime('%l:%M %p') %>
  </td>
  <% if screening.link != "" %>
    <td class="icon icon-arrow-right-circle"></td>
  <% else %>
    <td class="icon"></td>
<% end %>
</tr>
<% end %>
