%section.playlist-container
  .playlist-index-wrapper
    %h1.playlist-title Innovation Playlist
    %h2.playlist-description
      Explore any topic to get started.
    = render "partials/playlist_top_buttons"
    .container.playlist-chapters-container
      .row.text-center.text-lg-left
        - @tracks.each.with_index do |track, i|
          %a{class: "d-block mb-4 h-100", href: track_path(track, location: @location)}
            %div{:class => "col-lg-3 col-md-4 col-xs-6 playlist-track #{" selected" if i==0}"}
              = image_tag track.main_image, class: "img-fluid img-thumbnail playlist-grid-image"
              %p{style: "color: #{track.color}"}
                = track.title

