%section.playlist-container
  %h2 Innovation Playlist
  %h1.playlist-title= @track.title
  %p= @track.description

  .playlist-tab-container
    .playlist-tab.playlist-tab-watch.selected{style: "background:#{@darker_color}; border: 1px solid #{@track.color}"}

      %p= @track.video_title
    .playlist-tab.playlist-tab-listen{style: "background:#{@darker_color}; border: 1px solid #{@track.color}"}

      %p= @track.audio_title
    .playlist-tab.playlist-tab-act{style: "background:#{@darker_color}; border: 1px solid #{@track.color}"}
      %p Take Action

  .playlist-content-container{style: "background:#{@darker_color}"}
    .playlist-content.playlist-content-watch
      = render "partials/embedded_vimeo_player", vimeo_id: @track.video_embed
      %h2= @track.video_title
      %p= @track.video_description

    .playlist-content.playlist-content-listen
      %h2= @track.audio_title
      %p= @track.audio_description
      = @track.audio_embed.html_safe

    .playlist-content.playlist-content-act
      %h2 Take Action
      = @track.take_action_text

  %br


.playlist-transport-container
  .playlist-transport-item
    - if @previous_track
      %p Previous
      = link_to @previous_track.title, track_path(@previous_track, location: @location)

  .playlist-transport-item
    = link_to "View All Chapters", tracks_path(location: @location)

  .playlist-transport-item
    - if @next_track
      %a{href: track_path(@next_track, location: @location)}
        %p Next
        %p= @next_track.title
