%section.playlist-container
  .playlist-chapter-wrapper
    .playlist-chapter-header
      %h4.playlist-caps-text Innovation Playlist
      %h1.playlist-chapter-title= @track.title
      %p= @track.description
      = render "partials/playlist_top_buttons", location: @location

    .playlist-tab-container
      .playlist-tab.playlist-tab-watch.selected
        %img{src: "/icons/watch.png"}
        %p= @track.video_title
      - unless @track.audio_embed.empty?
        .playlist-tab.playlist-tab-listen
          %img{src: "/icons/listen.png"}
          %p= @track.audio_title
      .playlist-tab.playlist-tab-act
        %img{src: "/icons/act.png"}
        %p Take Action

    .playlist-content-container
      .playlist-content.playlist-content-watch
        .bandcamp-embed
          = render "partials/embedded_vimeo_player", vimeo_id: @track.video_embed
        %h2= @track.video_title
        %p= @track.video_description

      .playlist-content.playlist-content-listen
        = render "partials/embedded_bandcamp_player", track_id: @track.audio_embed
        %h2= @track.audio_title
        %p= @track.audio_description

      .playlist-content.playlist-content-act
        .row.text-center.text-lg-left
        - if @track.title == "Try Project Based Learning"
          = render "partials/try_a_project"
        - else
          .col-lg-4.col-md-4.col-xs-4
            = image_tag @track.act_image, class: "act-image"
          .col-lg-8.col-md-8.col-xs-8
            %h2 Take Action
            = @track.take_action_text.html_safe

      .copy-social-icons
        %a.icon.icon-envelop{:href => "mailto:someone@yoursite.com?subject=MLTS%20Innovation%20Playlist:%20#{@track.title}&body=mltsfilm.org/playlist", :target => "blank"}
        %a.icon.icon-linkedin2{:href => "http://www.linkedin.com/shareArticle?url=#{request.original_url}&title=MLTS%20Innovation%20Playlist:%20#{@track.title}", :onclick => "window.open(this.href, 'linkedinwindow','left=20,top=20,width=600,height=700,toolbar=0,resizable=1'); return false;"}
        %a.icon.icon-twitter{:href => "http://twitter.com/intent/tweet?text=MLTS%20Innovation%20Playlist:%20#{@track.title}%20#{request.original_url}", :onclick => "window.open(this.href, 'twitterwindow','left=20,top=20,width=600,height=300,toolbar=0,resizable=1'); return false;"}
        %a.icon.icon-facebook{:href => "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", :target => "blank"}
      %br

.playlist-transport-container
  - if @previous_track
    %a.playlist-transport-item{href: track_path(@previous_track, location: @location)}
      .navigation-text
        %p Previous
        %p= @previous_track.title
      %img.nav-arrow.nav-arrow-left{src: "/icons/leftarrow.svg"}
  - else
    %a.playlist-transport-item

  %a.playlist-transport-item{href: tracks_path(location: @location)}
    %p Explore All Chapters

  - if @next_track
    %a.playlist-transport-item{href: track_path(@next_track, location: @location)}
      .navigation-text
        %p Next
        %p= @next_track.title
      %img.nav-arrow.nav-arrow-right{src: "/icons/rightarrow.svg"}
  - else
    %a.playlist-transport-item.inactive
