%section.playlist-container
  .playlist-chapter-wrapper
    .playlist-chapter-header
      %h4.playlist-caps-text Innovation Playlist
      %h1.playlist-chapter-title= @track.title
      %p= @track.description
      = render "partials/playlist_top_buttons"

    .playlist-tab-container
      .playlist-tab.playlist-tab-watch.selected{style: "background:#{@medium_color}; border: 1px solid #{@track.color}"}
        %img{src: "/playlist/icons/watch.png", style: "color: #{@track.color}"}
        %p{style: "color:#{@track.color}"}= @track.video_title
      - unless @track.audio_embed.empty?
        .playlist-tab.playlist-tab-listen{style: "background:#{@medium_color}; border: 1px solid #{@track.color}"}
          %img{src: "/playlist/icons/listen.png"}
          %p{style: "color:#{@track.color}"}= @track.audio_title
      .playlist-tab.playlist-tab-act{style: "background:#{@medium_color}; border: 1px solid #{@track.color}"}
        %img{src: "/playlist/icons/act.png"}
        %p{style: "color:#{@track.color}"} Take Action

    .playlist-content-container{style: "background:#{@darker_color}"}
      .playlist-content.playlist-content-watch
        = render "partials/embedded_vimeo_player", vimeo_id: @track.video_embed
        %h2= @track.video_title
        %p= @track.video_description

      .playlist-content.playlist-content-listen
        = render "partials/embedded_bandcamp_player", track_id: @track.audio_embed
        %h2= @track.audio_title
        %p= @track.audio_description

      .playlist-content.playlist-content-act
        %h2 Take Action
        = @track.take_action_text

    %br


.playlist-transport-container
  .playlist-transport-item
    - if @previous_track
      %a{href: track_path(@previous_track, location: @location)}
        %p Previous
        %p= @previous_track.title

  .playlist-transport-item
    %a{href: tracks_path(location: @location)}
      %p View All Chapters

  .playlist-transport-item
    - if @next_track
      %a{href: track_path(@next_track, location: @location)}
        %p Next
        %p= @next_track.title
