<!-- Grid Container -->
<section class="grid-container" id="education-facts">
    <ul class="grid-wrapper">
        <li class="grid-item grid-image grid-1 video2 grid-play-video" data-id="">
            <div class="grid-shadow"></div>
            <div class="grid-item-container">
                <figure class="grid-text-container" data-category="Grid Section:Grid Video">
                    <figcaption class="grid-video-descript">
                        <h4 class="video-name">MLTS at Sundance 2015</h4>
                    </figcaption>
                    <div class="grid-text-center">
                        <span class="icon icon-play grid-play-icon"></span>
                    </div>
                </figure>
            </div>
        </li>
        <li class="grid-item grid-text grid-2">
          <%= link_to @education_facts[0].link, target: "blank" do %>
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                      <p class="grid-text-copy fact1" data-image=""><%= simple_format(@education_facts[0].quote) %></span>
                      <p class="grid-text-source fact1" data-image=""><%= @education_facts[0].source %></span>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section:Twitter Share Quote"><span class="icon icon-twitter-fill twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section:FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
          <% end %>
        </li>
        <li class="grid-item grid-image grid-3 video3 grid-play-video" data-id="">
            <div class="grid-shadow"></div>
            <div class="grid-item-container" data-category="Grid Section:Grid Video">
                <figure class="grid-text-container">
                    <figcaption class="grid-video-descript">
                        <h4 class="video-name">Linda Darling-Hammond</h4>
                        <h5 class="video-descript">Charles E. Ducommun Professor of Education</h5>
                    </figcaption>
                    <div class="grid-text-center">
                        <span class="icon icon-play grid-play-icon"></span>
                    </div>
                </figure>
            </div>
        </li>
        <li class="grid-item grid-text grid-4">
          <%= link_to @education_facts[1].link, target: "blank" do %>
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                        <span class="grid-text-copy fact2" data-image=""><%= simple_format(@education_facts[1].quote) %></span>
                        <span class="grid-text-source fact2" data-image=""><%= @education_facts[1].source %></span>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section:Twitter Share Quote"><span class="icon icon-twitter-fill grabmee twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section:FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
          <% end %>
        </li>
        <li class="grid-item grid-image grid-5">
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <ul class="social-icons poster-icons">
                        <li class="social-icon-items" data-category="Grid Section" data-label="Twitter Poster Share"><span class="icon icon-twitter-fill twitter-poster-share"></span></li>
                        <li class="social-icon-items" data-category="Grid Section" data-label="FB Poster Share"><span class="icon icon-facebook-fill facebook-poster-share"></span></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="grid-item grid-text grid-6">
          <%= link_to @education_facts[2].link, target: "blank" do %>
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                        <span class="grid-text-copy fact4" data-image=""><%= simple_format(@education_facts[2].quote) %></span>
                        <span class="grid-text-source fact4" data-image=""><%= @education_facts[2].source %></span>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section" data-label="Twitter Share Quote"><span class="icon icon-twitter-fill twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section" data-label="FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
          <% end %>
        </li>
        <li class="grid-item grid-image grid-9 video4 grid-play-video" data-id="">
            <div class="grid-shadow"></div>
            <div class="grid-item-container" data-category="Grid Section:Grid Video">
                <figure class="grid-text-container">
                    <figcaption class="grid-video-descript">
                        <h4 class="video-name">Karen Bruett</h4>
                        <h5 class="video-descript">Special Advisor for EdLeader21</h5>
                    </figcaption>
                    <div class="grid-text-center">
                        <span class="icon icon-play grid-play-icon"></span>
                    </div>
                </figure>
            </div>
        </li>
        <li class="grid-item grid-text grid-8">
          <%= link_to @education_facts[3].link, target: "blank" do %>
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                        <span class="grid-text-copy fact3" data-image=""><%= simple_format(@education_facts[3].quote) %></span>
                        <span class="grid-text-source fact3" data-image=""><%= @education_facts[3].source %></span>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section:Twitter Share Quote"><span class="icon icon-twitter-fill twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section:FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
          <% end %>
        </li>
        <li class="grid-item grid-image grid-7 video5 grid-play-video" data-id="">
            <div class="grid-shadow"></div>
            <div class="grid-item-container" data-category="Grid Section:Grid Video">
                <figure class="grid-text-container">
                    <figcaption class="grid-video-descript">
                        <h4 class="video-name">Ted Dintersmith</h4>
                        <h5 class="video-descript">Venture capitalist focused on education issues</h5>
                    </figcaption>
                    <div class="grid-text-center">
                        <span class="icon icon-play grid-play-icon"></span>
                    </div>
                </figure>
            </div>
        </li>
        <li class="grid-item grid-text grid-10">
          <%= link_to @education_facts[4].link, target: "blank" do %>
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                        <span class="grid-text-copy fact5" data-image=""><%= simple_format(@education_facts[4].quote) %></span>
                        <span class="grid-text-source fact5" data-image=""><%= @education_facts[4].source %></span>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section:Twitter Share Quote"><span class="icon icon-twitter-fill twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section:FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
          <% end %>
        </li>
        <li class="grid-item grid-image grid-11 video6 grid-play-video" data-id="">
            <div class="grid-shadow"></div>
            <div class="grid-item-container" data-category="Grid Section:Grid Video">
                <figure class="grid-text-container">
                    <figcaption class="grid-video-descript">
                        <h4 class="video-name">Freeman Hrabowski</h4>
                        <h5 class="video-descript">President of the University of Maryland, Baltimore County</h5>
                    </figcaption>
                    <div class="grid-text-center">
                        <span class="icon icon-play grid-play-icon"></span>
                    </div>
                </figure>
            </div>
        </li>
        <li class="grid-item grid-text grid-12">
          <%= link_to @education_facts[5].link, target: "blank" do %>
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                        <span class="grid-text-copy fact6" data-image=""><%= simple_format(@education_facts[5].quote) %></span>
                        <span class="grid-text-source fact6" data-image=""><%= @education_facts[5].source %></span>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section:Twitter Share Quote"><span class="icon icon-twitter-fill twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section:FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
          <% end %>
    </ul>
</section>
<!-- End of Grid Container -->

<!-- Vimeo iframe container -->
<span class="grid-video-container">
  <span class="grid-video-close icon icon-close close" data-video=""></span>
</span>
<!-- End of Vimeo iframe container -->
