<!-- Copy Container -->
<section class="copy-container">
  <div class="wrapper film-description">
    <h2><%= cms_block_content('copy.film_description') %></h2>
    <span class="copy-social-icons">
      <span class="icon icon-twitter twitter-copy-share" onclick="ganalytics(this);" data-category="Laurel-section" data-label="Twitter Share"></span>
      <span class="icon icon-facebook facebook-copy-share" data-poster="mltsposter4-small_thumb.jpg" onclick="ganalytics(this);" data-category="Laurel-section" data-label="FB Share"></span>
    </span>
  </h2>
  </div>

  <!-- Carousel -->
  <div class="quote-carousel-wrapper">
    <div id="hero-quote-carousel" class="carousel slide carousel-fade header-reviews">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @quotes.each_with_index do |quote, i| %>
          <div class="<%= i==0 ? "item active" : "item review-carousel-row js-item#{i}" %>">
            <ul>
              <% quote.each do |quote| %>
              <li class="review-item">
                <a href=<%= quote.link %> target="_blank" data-category="Hero-section" data-label="hero-quotes" onclick="ganalytics(this);">
                  <blockquote><%= quote.quote_text %></blockquote>
                  <p class="quote-author"><%= quote.author %></p>
                </a>
              </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <!-- Controls -->
      <a class="left carousel-control hero-control" href="#hero-quote-carousel" role="button" data-slide="prev">
          <span class="icon icon-next-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control hero-control" href="#hero-quote-carousel" role="button" data-slide="next">
          <span class="icon icon-next-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
      </div>
    </div>
    <!-- end of Carousel -->

</section>
<!-- End of Copy Container -->

