<section class="copy-container moving-forward-copy">
    <div class="wrapper">
      <h1 class="mf-title"><%= cms_block_content('main.heading') %></h1>
      <h2 class="mf-subtitle"><%= cms_block_content('main.copy').html_safe %></h2>
    </div>
</section>

<div class="mf-pages-container">
    <ul class="mf-page-list">
        <li class="mf-page-item">
            <a href="/moving-forward/know-your-stuff">
                <div class="mf-page-content">
                    <h3><%= cms_block_content('know_your_stuff.heading') %></h3>
                    <p><%= cms_block_content('know_your_stuff.copy') %></p>
                </div>
                <div class="mf-page-button-container">
                    <span class="know-your-stuff-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
        <li class="mf-page-item">
            <a href="/moving-forward/for-parents">
                <div class="mf-page-content">
                    <h3><%= cms_block_content('for_parents.heading') %></h3>
                    <p><%= cms_block_content('for_parents.copy') %></p>
                </div>
                <div class="mf-page-button-container">
                    <span class="for-parents-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
        <li class="mf-page-item">
            <a href="/moving-forward/for-teachers">
                <div class="mf-page-content">
                    <h3><%= cms_block_content('for_teachers.heading') %></h3>
                    <p><%= cms_block_content('for_teachers.copy') %></p>
                </div>
                <div class="mf-page-button-container">
                    <span class="for-teachers-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
        <li class="mf-page-item">
            <a href="/moving-forward/for-school-leaders">
                <div class="mf-page-content">
                    <h3><%= cms_block_content('for_school_leaders.heading') %></h3>
                    <p><%= cms_block_content('for_school_leaders.copy') %></p>
                </div>
                <div class="mf-page-button-container">
                    <span class="for-school-leaders-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
        <li class="mf-page-item">
            <a href="/moving-forward/for-students">
                <div class="mf-page-content">
                    <h3><%= cms_block_content('for_students.heading') %></h3>
                    <p><%= cms_block_content('for_students.copy') %></p>
                </div>
                <div class="mf-page-button-container">
                    <span class="for-students-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
        <li class="mf-page-item">
            <a href="/moving-forward/for-change-agents">
                <div class="mf-page-content">
                    <h3><%= cms_block_content('for_change_agents.heading') %></h3>
                    <p><%= cms_block_content('for_change_agents.copy') %></p>
                </div>
                <div class="mf-page-button-container">
                    <span class="for-change-agents-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
    </ul>
</div>

