<section class="partners-container">
  <ul class="partners-list">

  <% @cms_page.children.each do |partner| %>
    <li class="partner-item">
        <div class="partner-logo">
          <a href=<%= cms_block_content('link', partner) %>><img src=<%= cms_block_render('headshot', partner) %>></a>
        </div>
        <div class="partner-content">
          <h3><a href=<%= cms_block_content('link', partner) %>><%= cms_block_content('partner_name', partner) %></a></h3>
            <p><%= cms_block_content('partner_description', partner) %></p>
        </div>
    </li>
  <% end %>
  </ul>
</div>

