<section id="the-team" class="the-team-container">
  <div class="the-team-wrapper">
    <div class="the-team-heading">
      <h1><%= cms_block_content('the_team.heading') %></h1>
      <p><%= cms_block_content('the_team.copy') %></p>
    </div>
    <div class="the-team-content">
      <% @cms_page.children.each do |team_member| %>
        <div class="team-member selected">

            <img class="team-member-photo" src=<%= cms_block_render('headshot', team_member) %>></img>
            <h2 class="team-member-name"><%= cms_block_content('name', team_member) %></h2>
            <p class="team-member-title"><%= cms_block_content('business_title', team_member) %></p>
            <p class="team-member-bio"><%= cms_block_content('bio', team_member) %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>
