<!-- Screening Container -->
<section class="screening-container" id="screenings">
    <div id="tourscreenings"></div>
    <div id="communityscreenings"></div>
    <div class="screening-wrapper">
        <h3>Upcoming Screenings</h3>
        <div class="screening-table" data-category="Screening Section" data-label="Host Screenings List" onclick="ganalytics(this);">
            <table class="screening-tablerow">
                <tbody>
                  <% @screenings = @cms_page.children.find_by_slug('screenings').children %>
                  <% @screenings.each.with_index do |screening, i| %>
                    <tr class="screening-row community-screening-row" data-href=<%= cms_block_content('eventbrite_link', screening) %>>
                      <td data-label="Date" class="screening-date">
                        <%= a = cms_block_content('date_and_time', screening).to_time.strftime('%x') %>
                      </td>
                      <td data-label="City" class="screening-location">
                        <% city = cms_block_content('city', screening) %>
                        <% country = cms_block_content('country', screening) %>
                        <% if country == "" %>
                          <%= "#{city}" %>
                        <% else %>
                          <%= "#{city}, #{country}" %>
                        <% end %>
                      </td>
                      <td data-label="Location" class="screening-name">
                        <%= cms_block_content('venue_name', screening) %>,
                        <%= cms_block_content('address', screening) %>
                        at
                        <%= a = cms_block_content('date_and_time', screening).to_time.strftime('%l:%M %p') %>
                      </td>
                      <td class="icon"></td>
                    </tr>

                    <% end -%>
                </tbody>
            </table>
        </div>


        <div id="map"></div>
    </div>
</section>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmFUNlvJlxVV7ahDAV4kWLB3vom6Ttr9w&callback=initMap"
    async defer></script>
  <script>
  </script>
<!-- End of Screenings Container -->
