<!DOCTYPE html>
<html>
<head>
  <script src="//cdn.optimizely.com/js/2966720406.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta property="og:title" content="Most Likely To Succeed" />
  <meta property="og:site_name" content="Most Likely To Succeed"/>
  <meta property="og:url"content="http://mltsfilm.org/" />
  <meta property="og:image"content="http://mltsfilm.org/images/fbook-meta.jpg" />
  <meta property="og:description" content="The feature-length documentary 'Most Likely To Succeed' examines the history of education in the United States, revealing the growing shortcomings of conventional education methods in todayʼs innovative world. The film explores compelling new approaches that aim to revolutionize teaching as we know it. After seeing this film, the way you think about “school” will never be the same." />
  <title>Most Likely To Succeed</title>
  <link rel="icon" type="image/png" href="/images/favicon.ico"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
