<!DOCTYPE html>
<html>
<head>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80731580-1', 'auto');
    ga('send', 'pageview');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta property="og:title" content="Most Likely To Succeed" />
  <meta property="og:site_name" content="Most Likely To Succeed"/>
  <meta property="og:url"content="http://mltsfilm.org/" />
  <meta property="og:image"content="http://mltsfilm.org/images/fbook-meta.jpg" />
  <meta property="og:description" content="The feature-length documentary 'Most Likely To Succeed' examines the history of education in the United States, revealing the growing shortcomings of conventional education methods in todayʼs innovative world. The film explores compelling new approaches that aim to revolutionize teaching as we know it. After seeing this film, the way you think about “school” will never be the same." />
  <title>Most Likely To Succeed</title>
  <link rel="icon" type="image/png" href="/images/favicon.ico"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav id="main-nav" class="nav-collapse">
  <ul>
    <li><a class="icon icon-home" href="/" data-category="Navigation" onclick="ganalytics(this);"></a></li>
    <li><a class="nav-scroll screenings-nav-link" href="/#host-a-screening" data-category="Navigation" onclick="ganalytics(this);">Host a Screening</a></li>
    <li><a href="http://prompts.mltsfilm.org/" data-category="Navigation" onclick="ganalytics(this);">Next-Step Prompts</a></li>
    <li><a href="http://www.amazon.com/Most-Likely-Succeed-Preparing-Innovation/dp/1501104314/ref=sr_1_1?ie=UTF8&amp;qid=1457310377&amp;sr=8-1&amp;keywords=ted+dintersmith" data-category="Navigation" onclick="ganalytics(this);">Book</a></li>
    <li><a href="/moving-forward/index" data-category="Navigation" onclick="ganalytics(this);">Other Resources</a></li>
    <li><a href="/#screenings" data-category="Navigation" onclick="ganalytics(this);">Upcoming Screenings</a></li>
    <li><a class="nav-scroll screenings-nav-link" href="/faq" data-category="Navigation" onclick="ganalytics(this);">FAQs</a></li>
    <li><a href="/team_members" data-category="Navigation" onclick="ganalytics(this);">About Us</a></li>
    <li class="nav-items join-us-link float-right-nav"><a data-category="Navigation" onclick="ganalytics(this);">Join Us</a></li>
    <li><a href="#" id="mobile-nav-toggle">≡</a></li>
  </ul>
</nav>

<%= render partial: "partials/join_us_overlay" %>

<%= yield %>

<footer class="main-footer">
  <nav>
    <ul class="footer-nav-links">
      <li class="nav-items"><a href="/partners" data-category="Footer" onclick="ganalytics(this);">Partners</a></li>
      <li class="nav-items separator"><a href="mailto:info@mltsfilm.org" data-category="Footer" onclick="ganalytics(this);">Contact Us</a></li>
      <li class="nav-items separator"><a class="screenings-nav-link" href="https://www.facebook.com/MLTSfilm" target="_blank" data-category="Footer" onclick="ganalytics(this);">Facebook</a></li>
      <li class="nav-items separator"><a class="screenings-nav-link" href="https://twitter.com/mltsfilm" target="_blank" data-category="Footer" onclick="ganalytics(this);">Twitter</a></li>
    </ul>
  </nav>
</footer>

<div id="mask"></div>

</body>
</html>
